---
title: "{{{title}}}"
menu:
  main:
    name: "Reference"
    weight: 100
---
    <h1 class = "content-header">Function Reference test</h1>

    <div class="doc-page">

    <div class="doc-page-index">
    <ul data-gumshoe>
    {{#sections}}
      <li><a href="#{{slug}}">{{title}}</a></li>
    {{/sections}}
    </ul>
    </div>

    <div >

      <table >

      <colgroup>
        <col class="alias" />
        <col class="title" />
      </colgroup>

      {{#sections}}
      <tbody>
        <tr>
          <th colspan="2">
            <h2 id="{{slug}}" class="hasAnchor"><a href="#{{slug}}" class="anchor"></a>{{title}}</h2>
            <p class="section-desc">{{{desc}}}</p>
          </th>
        </tr>
        {{#contents}}
          <tr>
            <!-- {{#icon}}<img src="icons/{{{.}}}" width="40" height="40" class="icon" />{{/icon}} -->
            <td width = "90%">
              <p>{{#aliases}}<code><a href="{{path}}">{{{.}}}</a></code> {{/aliases}}</p>
            </td>
            <td><p>{{{title}}}</p></td>
          </tr>
        {{/contents}}
      </tbody>
      {{/sections}}
      </table>

  </div>

  </div>



