svg {
  font: 12px sans-serif;
}

.label {
  fill: #666;
}

.rps {
  fill: #777;
  font: 20px sans-serif;
}

.barIn {
  fill: #667292;
}

.barOut {
  fill: #8d9db6;
}

.source {
  fill: #667292;
  stroke: none;
}

.source .selected {
  stroke: #667292;
}

.sink {
  fill: #8d9db6;
  stroke: none;
}

.sink .selected {
  stroke: #8d9db6;
}
