svg {
  font: 12px sans-serif;
}

.label {
  fill: #666;
}

.rps {
  fill: #777;
  font: 20px sans-serif;
}

.barIn {
  fill: orange;
}

.barOut {
  fill: steelblue;
}

.source {
  fill: orange;
  stroke: white;
}

.soruceSelected {
  stroke: orange;
}

.sink {
  fill: steelblue;
  stroke: white;
}

.sinkSelected {
  stroke: steelblue;
}
